# dependencies
node_modules/

# builds
.next/
.expo/
dist/
build/
.turbo/

# env
.env
.env.local
.env.*.local

# supabase
supabase/.temp/
supabase/.branches/

# misc
*.log
.DS_Store
Thumbs.db

# editor
.idea/
.vscode/
